@page "/"

<PageTitle>Welcome</PageTitle>

<h1 class="text-center border text-primary bg-light">Predict Nationaility of the Name</h1>
<div class="row m-2">
	<div class="col-8 text-center border p-1 bg-light">
		<h2 class="font-weight-bold text-primary">About</h2>
		<h4>This app allows the user to enter in a name and it will predict the nationality of the name.</h4>
			<h4>Users can enter in a single name or they can enter in up to 10 names at one go.</h4>
	</div>
	<div class="col-4 text-center border p-1 bg-light">
		<h2 class="font-weight-bold text-primary">Want more information?</h2>
		<h4>For more information about the API being called please click <a href="https://nationalize.io/" target="_blank">here</a></h4>
		<h4>For more information about how the data was collected please click <a href="https://nationalize.io/our-data" target="_blank">here</a></h4>
	</div>
</div>
