@page "/"

<PageTitle>Welcome</PageTitle>

<h1 class="text-center bg-info">Predict Nationaility of the Name</h1>
<div class="row m-2">
	<div class="col-8 text-center border">
		<h2>About</h2>
		<h4>This app allows the user to enter in a name and it will predict the nationality of the name.
			Users can enter in a single name or they can enter in up to 10 names at one go.
		</h4>
	</div>
	<div class="col-4 text-center border">
		<h2 class="color-info">Want more information?</h2>
		<h4>For more information about the API being called please click <a link="https://nationalize.io/">here</a></h4>
		<h4>For more information about how the data was collected please click <a link="https://nationalize.io/our-data">here</a></h4>
	</div>
</div>
